
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>

<body layout="column">


  <md-toolbar  md-scroll-shrink layout="row" layout-align="start center" layout-padding>


   <div ng-if="!currentUser" >   
      <meteor-include src="loginButtons"></meteor-include> 
   </div>     
    
   
    <div class="container" ng-if="currentUser">   
      <md-button ng-controller="LoginCtrl" class="md-raised md-primary"  ng-click="userLogout()" > 
       LOGOUT </md-button>    
    </div>    
     
    <span flex> <div align="center">BOOK MY PLACE {{ currentUser.emails }} </div> </span>   

    <div style="padding-right: 20px">
      <a href="/locations">Locations</a>
      <a href="/login">Lo</a>
    </div>

  </md-toolbar>  <!-- Toolbar -->


  <div ui-view class="container-fluid">   </div> 
 
 
  
</body>

