
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>

<body layout="column">


  <md-toolbar  md-scroll-shrink layout="row" layout-align="start center" layout-padding>
    
   
    <div class="container" ng-if="currentUser">   
      <md-button ng-controller="LoginCtrl" class="md-raised md-primary"  ng-click="userLogout()" > 
       LOGOUT </md-button>    
      
    </div>    


    <div class="container" ng-if="! currentUser">   
  HELLO 
    </div>         
     
    <span flex> <div align="center">BOOK MY PLACE  </div> </span>   

<!--
    <div style="padding-right: 20px">
      <a href="/meetings">M</a>
      <a href="/locations">L</a>
    </div>
-->

    <div class="container" ng-if="! currentUser">   
      <md-button ng-controller="LoginCtrl" class="md-raised md-primary"  ng-href="/register"  > 
       REGISTER </md-button>    
    </div>  




  </md-toolbar>  <!-- Toolbar -->


  <div ui-view class="container-fluid">   </div> 
 
 
  
</body>

